* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: beige;
}
.container {
  overflow: hidden;
}
.header-top {
  height: 100px;
  text-align: center;
  background-color: #fff;
}

/* Logo Styling */

.img-logo {
  width: 20%;
  height: 100px;
  float: left;
  margin: auto; 
}
.img-logo img {
  width: 100%;
  height: 100px;
}

/* Nav Styling */
 
.nav-bar {
  width: 80%;
  height: 100%;
  margin: none;
  float: right;
  background-color: #d2b48c;
}
.nav-bar ul {
  float: right;
  margin: none;
  text-align: center;
  padding-right: 25%;
}
.nav-bar ul li {
  list-style: none;
  float: center;
  padding: 0;
  margin: 0;
  display: inline-block;
  line-height: 100px;
}
.nav-bar ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 0 30px 0 25px;
  font-size: 25px;
  font-weight: 600;
  background-color: #d2b48c;
  color: #000;
}
.nav-bar ul li a:hover {
  font-size: 30px;
  background-color: #964b00;
}

/* Header-rest */
.header-rest {
  color:#a0522d;
  margin: 0 5% 0 5%;
  width: 100%;
  height: 550px;
}
/* Header-Intro */
.intro {
  width: 40%;
  margin-top: 50px;
  text-align: center;
  float: left;
  font-size: xx-large;
  font-weight: 500;
  font-family: cursive;
  margin-left: 10px;
  height: 100%;
}

/* Header-profile */
.header-formal {
  width: 50%;
  float: right;
  height: 100%;
}
.img-profile {
  width: 100%;
}